@{
    ViewData["Title"] = "Hola";
}

<div class="text-center">
    <h1 class="display-4">Bienvenudo UWU</h1>
    <h2>mi primera deployada deployada que emosion</h2>
    <h3>y ahora q</h3>
    <p>hola</p>
</div>
